@page "/tags/edit"
@rendermode InteractiveServer
@inject TagRepository repo
@inject NavigationManager nav

<PageTitle>Edit Tag</PageTitle>
<h2>Edit Tag</h2>

@code {

    private int id {set;get;}

}
